/*
	general style
*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444;
}

@font-face {
	font-family: HelveticaNeue; /* Гарнитура шрифта */
	src: url(fonts/HelveticaNeue-Light.ttf); 
}

body {
	font-family: HelveticaNeue;
}


/*
	typography
*/
h1, h2, h3 {
	font-weight: 300;
	margin: 0;
	line-height: 30px;
}

h4, h5, h6 {
	margin: 10px 0;
	font-weight: bold;
}

p {
	margin: 0 0 10px 0;
}
#i {
	font-size:  16px;
}

/*
	layout
*/

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	background: #000;
}

#logo {
	margin-top: 6px;
	float: left;
	display: block;
	text-decoration: none;
	color: white;

	
}
#cta {
	background: #3fbced;
	color: black;
}

#content {
	padding: 30px 0;
}

/*
	cta
*/
#cta-title {
	width: 520px;	
	padding: 40px 0;
	float: left;
}

#mativ {
	font-size: 1.2em;
}

header div img {
	float: right;
/*	padding: 40px 20px;*/
	
}

/*
	button
*/

.btn {
	width: auto;
	background: #0090bf;
	border: 1px solid #1e728c;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	
	/* IE7 inline-block fix */
	zoom: 1;
	*display: inline;
	
	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	
	/* Fancy box shadows */
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	
	/* CSS3 transitions */
	-webkit-transition: background-color 0.15s ease-in-out;
	   -moz-transition: background-color 0.15s ease-in-out;
	     -o-transition: background-color 0.15s ease-in-out;
	        transition: background-color 0.15s ease-in-out; 
}

.btn:hover {
	color: #fff;
	background-color: #0086b2;
}

.btn:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	color: #fff;
}

.btn-large {
	padding: 15px 25px;
	font-size: 20px;
	font-weight: 100;
}

.btn-secondary {
	font-size: 18px;
}

.btn-small {
	font-weight: bold;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.btn-secondary:hover {
	text-decoration: underline;
}

.btn-secondary:active {
	position: relative;
	top: 1px;
}



/*
	nav
*/

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	
}

nav ul li {
	float: left;
} 

header nav ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 15px;
	border-left: solid 1px #333;
}

header nav ul li a:hover {
	background: #222;
}

header nav ul li a:active {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
}



/*
	column
*/

.column {
	float: left;
	width: 300px;
	margin-top: 20px;
}

.column-margin {
	margin-right: 20px;
}

article p {
	margin-bottom: 0;
}

.read-more {
	text-decoration: none;
	float: right;
	margin-right: 30px;
	color: #000;
}

.read-more:hover {
	color: #00c0ff;
}


/*
	footer
*/

footer {
	background: #444;	
	padding: 15px 0 0 0;
}

#copyright {
	color: white;
	font-size: 10px;
	float: left;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #00c0ff;
}

footer nav a {
	margin: 10px 0 0 15px;
	font-size: 13px;
}

footer nav {
	margin-right: 15px;
}
/*
	global style
*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE6/7 (trigger hasLayout) */
}

